{% macro render_header() %}
{% set section = get_section(path="_index.md") %}
<a href="{{ section.permalink }}">
    <div class="logo">
        <img src="{{ get_url(path=config.extra.header) }}" alt="logo">
    </div>
</a>

<nav>
   
    {% for page in section.pages %}
            <a class="nav-item subtitle-text" href="{{ page.permalink }}">{{ page.title }}</a>
    {% endfor %}

    {% if config.extra.dropdown %}
        {% for dropdown in config.extra.dropdown %}
            <div class="dropdown subtitle-text nav-item">
                <button class="dropdown-button nav-item subtitle-text" style="margin: 0;">
                    <!-- {{ dropdown }} -->
                    Divisions
                </button>
                {% set section_path = dropdown ~ "/_index.md" | lower %}
                {% set section = get_section(path=section_path) %}
                <div class="dropdown-content">
                {% for page in section.pages %}
                    <a class="nav-item subtitle-text" style="margin: 0;" href="{{ page.permalink }}">{{ page.title }}</a>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if config.extra.links %}
        {% for menu in config.extra.links %}
            <a class="nav-item subtitle-text" href="{{ menu.link }}">{{ menu.title }}</a>
        {% endfor %}
    {% endif %}

</nav>
{% endmacro render_header %}