{% include "partials/head.html" %}
<body>
  {% include "partials/nav.html" %}
  

  <div>
    
    <div class="bg-gray-200 from-blue-900 via-blue-900 to-yellow-400 h-auto relative z-0 -mt-40 
    heropattern-topography-primary-500"}}>
      <div class="flex flex-row justify-between px-96 py-48">
        <div class="bg-black h-96 w-96"></div>
        <img class="h-96 w-96" src={{ get_url(path=section.extra.logo) }} />

      </div>
      <svg class="h-96 w-screen fill-current text-gray-200" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="100,0 100,100, 0,100" />
      </svg> 
    </div>
  </div>

  
   

  

  </div>
  <div class="bg-gray-200 flex flex-row justify-center">
    <div class="prose m-20 text-xl">{{ section.content | safe }}</div>
  </div>
</body>
